name: Release and Publish

on:
  workflow_dispatch:
    inputs:
      version-type:
        description: 'Version bump type'
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
      custom-version:
        description: 'Custom version (optional, overrides version-type)'
        required: false
        type: string

jobs:
  release:
    name: Create Release
    uses: ./.github/workflows/create-release.yml
    with:
      version-type: ${{ inputs.version-type }}
      custom-version: ${{ inputs.custom-version }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  publish:
    name: Publish to Maven Central
    needs: release
    uses: ./.github/workflows/publish-maven.yml
    with:
      version: ${{ needs.release.outputs.version }}
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}

  update-readme:
    name: Update README
    needs: [release, publish]
    uses: ./.github/workflows/update-readme.yml
    with:
      version: ${{ needs.release.outputs.version }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}